<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Settings</title>
    <meta name="viewport" content="width=device-width"></meta>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <%- include('temps/header.ejs') %>
    <div class="content" onclick="closeNav()">
      <h2>Admin Settings</h2>
    </div>
    <script src="../scripts/header.js"></script>
  </body>
</html>
