<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width"></meta>
    <link rel="stylesheet" href="style.css">
  </head>
  <style media="screen">
    .topNavBar {
      text-align: center;
      overflow: hidden;
    }

    .topNavBar p {
      display: inline-block;
      margin-top: -5px;
    }

    @media (min-width: 600px) {
      .topNavBar p {
        display: inline-block;
        margin-top: 3px;
        font-size: 180%;
      }
    }
  </style>
  <body>
    <div class="topNavBar">
      <p>Class-Learn</p>
    </div>
    <div class="content">
      <h2 id="loginHeader">Login</h2>

      <div class="loginForm">

        <div class="errorMessageContainer">
          <% if (error) { %>
            <p id="loginErrorMessage"><%= error %></p>
          <% }; %>
        </div>

        <form method="post">
          <input type="hidden" name="_csrf" value="<%= csrfTocken %>">
          <input type="text" name="email" placeholder="Username or Email" autocorrect="off" autocapitalize="none"><br>
          <input type="password" name="password" placeholder="Password"><br>
          <input type="submit" value="Login">
        </form>
      </div>

    </div>
    <script src="scripts/header.js"></script>
  </body>
</html>
