body {
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    margin: 0;
}

#navBarToggleButton {
  font-size:100%;
  cursor:pointer;
  padding: 10px;
}

.topNavBar {
  background-color: #80f442;
  margin: 0;
  padding: 5px;
  height: 36px;
}

.topNavBar p {
  padding: 10px;
  display: inline;
  font-size: 100%;
}

.content {
  padding: 0px 15px 15px 15px;
  font-size: 75%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d1fffe;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 5px;
    opacity: 0.985;
}

.sidenav a {
    /* padding: 8px 8px 8px 32px; */
    padding: 15px;
    padding-left: 32px;
    text-decoration: none;
    font-size: 100%;
    color: #818181;
    display: block;
    transition: 0.1s;
    opacity: 1;
    border-bottom: 1px solid #818181;
}

.sidenav #cousesLink {
  font-size: 100%;
  font-weight: bold;
  padding-left: 20px;
}

.sidenav .active {
  background-color: #f4f2f2;
}

.sidenav a:active {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 100%;
    margin-left: 50px;
    border: none;
}


/* Login Form Style */
#loginHeader {
  font-size: 150%;
  text-align: center;
  margin-bottom: 6px;
  font-weight: 200;
}

.loginForm input[type=text], select, .loginForm input[type=password] {
    width: 100%;
    font-size: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginForm input[type=submit] {
    width: 100%;
    font-size: 120%;
    background-color: #80f442;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#loginErrorMessage {
  padding: 5px 8px;
  background-color: #e85c5a;
  border-radius: 4px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 120%;}
}

@media (min-width: 600px) {
  body {
      font-family: "Lato", sans-serif;
      font-size: 1rem;
  }

  .content {
    width: 800px;
    margin: auto;
  }

  #navBarToggleButton {
    font-size:200%;
  }

  .topNavBar {
    height: 48px;
  }

  .topNavBar p {
    font-size: 150%;
  }

  .sidenav a {
      font-size: 140%;
  }

  .sidenav a:hover {
      color: #4c4b4b;
  }

  .sidenav #cousesLink {
    font-size: 150%;
    font-weight: bold;
    padding-left: 20px;
  }

  .sidenav .closebtn {
      right: 0px;
      font-size: 200%;
  }

  /* Login Form Style */
  #loginHeader {
    font-size: 215%;
  }

  .loginForm {
    text-align: center;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
  }

  .loginForm input[type=text], select, .loginForm input[type=password] {
      font-size: 110%;
  }

  .loginForm input[type=submit] {
      font-size: 125%;
  }

  #loginErrorMessage {
    font-size: 120%;
  }
}
