<div class="topNavBar">
  <span id="navBarToggleButton" onclick="openNav()">&#9776;</span>
  <p>Class-Learn</p>
</div>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/admin/dashboard" id="cousesLink">Dashboard</a>
  <a href="/admin/manage-instructor-accounts" id="manageinstructoraccounts" style="font-size: 80%">Manage Instructor Accounts</a>
  <a href="/admin/manage-student-accounts" id="managestudentaccounts" style="font-size: 80%">Manage Student Accounts</a>
  <a href="/admin/manage-courses" id="managecourses" style="font-size: 80%">Manage Courses</a>
  <a href="/admin/settings" id="settings" style="font-size: 80%">Admin Settings</a>
  <a href="/logout" style="font-size: 80%">logout</a>
</div>

<script type="text/javascript">
  var page = '<%= page %>'
  if (page != '') {
    document.getElementById(page).classList.add("active");
  }
</script>
